.tree {
  margin: 0;
  padding: 0;
}

.tree a {
  background-color: transparent;
}

.tree a:hover {
  background-color: gray;
}

.tree .nav-item {
  margin-left: 0.5em;
  color: #3030C0;
}

.tree .nav-item:after {
  margin-left: 0.5em;
  content: "\\";
}

.tree .nav-item:last-child:after {
  content: "";
}

.tree ul.siblings {
  margin: 0;
  padding: 0;
}

.tree ul.children {
  margin: 0;
  padding-left: 1.5em;
}

.tree ul.children.hide {
  display: none;
}

.tree ul li.tree-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tree .tree-item>div.div {
  color: #3030C0;
  width:100%;
  margin: 0.1em;
  padding: 0;
  vertical-align: top;
}

.tree .tree-item.selected>div.div {
  background-color: #C0C0F0;
}

.tree .tree-item.diff-deleted>div.div {
  text-decoration: line-through;
}

.tree .tree-item>div.div .diff-new-children {
  margin-left: 1em;
  background-color: rgb(150, 255, 150);
  border-radius: 0.1em;
}

.tree .tree-item>div.div .names {
  display: inline-block;
}

.tree .tree-item>div.div .diff-new-name {
  font-size: 0.5em;
}

